html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title KF1 Stats
    link(rel="stylesheet" href="/style.css")
  body
    h1 My Killing Floor Stats
    hr
    section.perks
      h2 Perk Progress
      hr
      div
        img.perk__img(src="images/perks/Perk_Medic.png" alt="Perk Medic")
        h3.perk__name Medic
        p.perk__points=medicPoints
      div
        img.perk__img(src="images/perks/Perk_Sharpshooter.png" alt="Perk Medic")
        h3 Sharpshooter
        p=sharpshooterPoints
      div
        img.perk__img(src="images/perks/Perk_Commando.png" alt="Perk Medic")
        h3 Commando
        p=commandoPoints
      div
        img.perk__img(src="images/perks/Perk_Support_specialist.png" alt="Perk Medic")
        h3 Support
        p=supportPoints
      div
        img.perk__img(src="images/perks/Perk_Berserker.png" alt="Perk Medic")
        h3 Berseker
        p=berserkerPoints
      div
        img.perk__img(src="images/perks/Perk_Firebug.png" alt="Perk Medic")
        h3 Firebug
        p=firebugPoints
      div
        img.perk__img(src="images/perks/Perk_Demolition.png" alt="Perk Medic")
        h3 Demolitions
        p=demolitionsPoints
    section.stats
     h2 General Stats
      hr
    section.achievments
     h2 Achievment Progress
      hr