html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title KF1 Stats
    link(rel="stylesheet" href="styles/index.css")
  body
    h1 My Killing Floor Stats
    hr
    section.perks
      h2 Perk Progress
      hr
      div
        div.perk__img
          img(src="images/perks/Perk_Medic.png" alt="Perk Field Medic")
        div.perk__info
          div.perk__header
            span.perk__name Field Medic
            span.perk__level="Level " + medicLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:medicProgress+"%"})
            p.perk__points="Points Healed: " + medicPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Sharpshooter.png" alt="Perk Sharpshooter")
        div.perk__info
          div.perk__header
            span.perk__name Sharpshooter
            span.perk__level="Level " + sharpshooterLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:sharpshooterProgress+"%"})
            p.perk__points="Headshots: " + sharpshooterPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Support_specialist.png" alt="Perk Support Specialist")
        div.perk__info
          div.perk__header
            span.perk__name Support Specialist
            span.perk__level="Level " + supportLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:supportProgress+"%"})
            p.perk__points="Damage Done: " + supportPoints
            div.perk__bar
              div.perk__progress(style={width:weldingProgress+"%"})
            p.perk__points="Welding Points: " + weldingPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Commando.png" alt="Perk Commando")
        div.perk__info
          div.perk__header
            span.perk__name Commando
            span.perk__level="Level " + commandoLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:commandoProgress+"%"})
            p.perk__points="Damage Done: " + commandoPoints
            div.perk__bar
              div.perk__progress(style={width:stalkerProgress+"%"})
            p.perk__points="Stalker Kills: " + stalkerPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Berserker.png" alt="Perk Berserker")
        div.perk__info
          div.perk__header
            span.perk__name Berserker
            span.perk__level="Level " + berserkerLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:berserkerProgress+"%"})
            p.perk__points="Damage Done: " + berserkerPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Firebug.png" alt="Perk Firebug")
        div.perk__info
          div.perk__header
            span.perk__name Firebug
            span.perk__level="Level " + firebugLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:firebugProgress+"%"})
            p.perk__points="Damage Done: " + firebugPoints
      div
        div.perk__img
          img(src="images/perks/Perk_Demolition.png" alt="Perk Demolitions")
        div.perk__info
          div.perk__header
            span.perk__name Demolitions
            span.perk__level="Level " + demolitionsLevel
          div.perk__content
            div.perk__bar
              div.perk__progress(style={width:demolitionsProgress+"%"})
            p.perk__points="Damage Done: " + demolitionsPoints
    section.stats
     h2 General Stats
      hr
    section.achievments
     h2 Achievment Progress
      hr