html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title KF1 Stats
    link(rel="stylesheet" href="/style.css")
  body
    h1 My Killing Floor Stats
    #table-wrapper
    table
      tr
        th Class
        th Points
      tr
        td Medic
        td=medicPoints
      tr
        td Sharpshooter
        td=sharpshooterPoints
      tr
        td Commando
        td=commandoPoints
      tr
        td Support
        td=supportPoints
      tr
        td Berseker
        td=berserkerPoints
      tr
        td Firebug
        td=firebugPoints
      tr
        td Demolitions
        td=demolitionsPoints